<body>
    <nav class="header">
        <h1 class="heading">Teacher Data Portal</h1>
        <div class="search">
            <img class='search-icon' src='../../assets/image.png' alt="none">
            <input class="search-bar" type="text" placeholder="Search">
        </div>
        <div class="buttons">
            <button mat-button class="button">Student</button>
            <button mat-button class="button">Teacher</button>
        </div>
    </nav>
    <div class="card">
        <div class="example-card" appearance="outlined" *ngFor="let teachers of teachersList">
          <mat-card-header>
            <mat-card-title>
              <h2 class="heading">{{teachers.name}}</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="content">
          <div style="display: flex;"> <span><b>email:</b></span> <p class="card-content">{{teachers.email}}</p></div>
          </mat-card-content>
          <mat-card-content class="content">
            <div style="display: flex;">  <span><b>Address:</b></span><p class="card-content">{{teachers.address}}</p></div>
          </mat-card-content>
          <mat-card-content class="content">
           <div style="display: flex;"> <span><b>Role:</b></span><p class="card-content">{{teachers.role}}</p></div>
          </mat-card-content>
          <mat-card-footer class="example-card-footer">
            <button class="but">Delete</button>
          </mat-card-footer>
        </div>
      </div>
</body>