<body>
      <nav class="header">
        <h1 class="heading">Student Data Portal</h1>
        <div class="search">
            <img class='search-icon' src='../../assets/image.png' alt="none">
            <input class="search-bar" type="text" placeholder="Search">
        </div>
        <div class="buttons">
            <button mat-button class="button" [routerLink]="['/student/student-details']">Student</button>
            <button mat-button class="button" [routerLink]="['/teacher/teacher-details']">Teacher</button>
        </div>
    </nav>
    <router-outlet></router-outlet>
</body>