.header {
    height: 60px;
    background-color: pink;
    display: flex;
}

.heading {
    padding-top: 15px;
    margin-left: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading-1{
    @extend .heading;
    text-align: center;
    margin-left: 0px;
}
.search{
    border: none;    
    background-color: rgb(255, 255, 255);
    margin-left: 70px;
    margin-top: 3px;
    height: 43px;
    width: 520px;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
.search-icon{
    height: 30px;
    width: 30px;
}
.search-bar{
    height: 30px;
    width: 470px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: medium;
    outline: none;
}
.button {
    height: 30px;
    width: 70px;
    margin-left: 20px;
    cursor: pointer;
}
.buttons{
    margin-left: 140px;
    margin-top: 15px;
}
.card{
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;   
}
.example-card{
    border: 1.5px groove;
    border-radius: 0.5rem;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height:max-content;
    padding-bottom: 15px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: rgb(252, 161, 176);
}
.card-content {
    margin-left: 10px;
}
.heading{
    // margin-left: 40px;
    // margin-right: 40px;
    text-align: center;
}
.example-card-footer{
    margin-left: 100px;
}
.but {
    cursor: pointer;
}
