<body>
    <nav class="header">
        <h1 class="heading">Student Teacher Data Portal</h1>
        <div class="buttons">
            <button mat-button class="button" [routerLink]="['/student']">Student</button>
            <button mat-button class="button" [routerLink]="['/teacher']">Teacher</button>
        </div>
    </nav>
    <div class="body">
        <h2 class="reg">Registration Form</h2>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="fillForm" >
                <mat-form-field class="label" appearance="outline" color=primary>
                    <mat-label> Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <div class="err-1"
                    *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.dirty || myForm.get('name')?.touched)">
                    Please provide a valid name.
                </div>
                <mat-form-field class="label" appearance="outline" color=primary>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <div class="err-2"
                    *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
                    Please provide a valid email.
                </div>
                <mat-form-field class="label" appearance="outline" color=primary>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address">
                </mat-form-field>
                <div class="err-3"
                    *ngIf="myForm.get('address')?.invalid && (myForm.get('address')?.dirty || myForm.get('address')?.touched)">
                    Please provide a valid address.
                </div>
                <div class="radio-par">
                    <label class="label-1"><b>Role:</b></label>
                        <mat-radio-group formControlName="role">
                            <mat-radio-button class="example-margin" value="Student">Student</mat-radio-button>
                            <mat-radio-button class="example-margin-1" value="Teacher">Teacher</mat-radio-button>
                        </mat-radio-group>
                </div>
                <div class="label-2">
                    <button mat-button class="button-1" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>