
.header {
    height: 60px;
    background-color: pink;
}

.heading {
    padding-top: 15px;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body {
    margin-top: 60px;
    margin-left: 460px;
    border-style: groove;
    border-radius: 0.6rem;
    margin-right: 460px;
}

.reg {
    margin-left: 90px;
    padding-top: 10px;
}

.fillForm {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.label {
    margin-top: 10px;
    width: 300px;
}

.radio {
    display: flex;
    margin-left: 10px;
}

.err-1 {
    position: fixed;
    top: 265px;
    left: 498px;
    color: red
}
.err-2 {
    @extend .err-1;
    top: 354px;
}
.err-3 {
    @extend .err-1;
    top: 440px;
}
.err-4 {
    @extend .err-1;
    top: 429px;
}
.radio-par{
    display: flex;
}
.label-2 {
    margin-top: 10px;
    margin-left: 240px;
}
.example-margin-1{
    margin-left: 20px;
}
.button{
    cursor: pointer;
    height: 30px;
}
.label-1{
    margin-top: 10px;
    margin-right: 10px;
}